/* Empty. Add your own CSS if you like */

/****************   全局css   ********************/
/*
 * 因为现在不知道真机中跑出的字体是什么
 *（我隐约记得看到了lib中的字体设置？？或许兼容ios or Android自带的字体）
 * 目前（因为浏览器自带的字体太丑了）使用微软雅黑or华文细黑
 */
#fontSet
{
	font-family: 'Microsoft YaHei',微软雅黑,'MicrosoftJhengHei',华文细黑,STHeiti,MingLiu;
}

/*对原来的蓝色的bar进行修改（重写）*/
.bar.bar-positive
{
    background-color: #00BFFF; 
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: #00BFFF;
    height: 60px;
    line-height: 0px;
    /*padding-bottom: 10px;
    margin-bottom: 10px;*/

    background-image: linear-gradient(0deg, #0c60ee, #0c60ee 50%, transparent 50%);
    color: #fff;
}

.button.button-positive.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #00BFFF; 

      font-size: 15px;
      font-family: 'Microsoft YaHei',微软雅黑,'MicrosoftJhengHei',华文细黑,STHeiti,MingLiu;
}

/*checkbox背景颜色*/
.checkbox {
  position: relative;
  display: inline-block;
  padding: 7px 7px;
  cursor: pointer; }
  .checkbox input:before,
  .checkbox .checkbox-icon:before {
    border-color: #ddd; }
  .checkbox input:checked:before,
  .checkbox input:checked + .checkbox-icon:before {
    background: #00BFFF;
    border-color: #00BFFF; }

/*button的背景颜色*/
.button.button-lightblue {
    border-color: transparent;
    background-color: #00BFFF;
    color: #fff; }

/*nav-bar的标题格式*/
.bar.bar-positive .title
{
	color: #fff;
	font-size: 25px;
}

#blackFont
{
	color: #000000;
}
#divideLine
{
	color: #DDDDDD;
	border-style: dotted;
	width: 100%;
}


/****************   css in menu   ********************/
#menuHeader
{
	background-color:#00BFFF;
	height: 50px;
}

/*********/
#headerdistance
{
	margin-top: 16px;
}

/******** for contacts-detail *******/
#heaherdistancecontactdetail
{
	margin-top: 0px;
}

/*******************/
#navigator
{
	border:none;
	background-color:#F0F0FF;
	height: 6px;
	margin-top: -23px;
}

/***************/
#navigator1
{
	height: 65px;
}

/*****************/
#groupstyle
{
	margin-top: 0px;
}

/**********************/
#selectbar
{
	width:100%; 
	border:none;
}

/****************   css in viewForms.html   ********************/
/*副标题--固定在nav-bar下方、用来对报修单进行筛选排序*/

/*button-bar形式呈现，**“|  全部  | 按创建时间 |  降序  |”**/
#subHeaderBar
{
	height: 35px;
	border-width: 0;
}
/*.button-bar .button 点击之后展开对应的菜单栏（list）*/
#subHeaderMenu
{
	font-size: 14px;
	border-width: 0px;
	border-bottom-width: 1px;
	padding: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	width: 32%;
	height: 100%;
	border-color: #DDDDDD;
}
/*用于模拟菜单栏的list*/
#subHeaderMenuList
{
/*	height: 20px;
*/	top: 79px;

	
}
/*用于模拟菜单栏的list的item*/
#subHeaderMenuOption
{
	height: 37px;
	padding-left: 10%;
	padding-bottom: 7px;
	padding-top: 7px;
	background-color: #FAFAFA;
	border-color: #DDDDDD;
}
/*用于模拟菜单栏的list的item中的文字css*/
#subHeaderMenuContent
{
	font-size: 14px;
	color: #444444;
	font-weight: lighter;
	/*margin-top: auto;
	margin-bottom: auto;*/
}
/*#subHeaderOption
{
	padding: 0;
	text-align: center;
}*/
#listItem
{
	border-style: solid;
	border-top-width: 15px;
	border-color: #EEEEEE;
	padding-left: 25px;
	padding-right: 25px;
}
#formTitle
{
	font-size: 1.3em;
	color: #000000;
	padding-top: 1%;
	padding-bottom: 1%;
}
#formValueBackground
{
	width: 50px;
	height: 50px;
	background-color:#00BFFF;
	border-radius:25px;
	position:absolute;
	right: 25px;
	top: 20px;
}
#formValue
{
	height:50px;
	line-height:50px;
	display:block;
	color:#FFF;
	text-align: center;
	font-size: 150%;
}
#formDivider
{
	background-color: #AAAAAA;
	padding: 0;
	margin: 0;
}

/*******************filter-subHeader*************************/
.filter-subHeader
{
	height: 36px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: #EEEEEE;
	padding: 0; 
}


/********************search-bar**********************/
.search-bar
{
	margin-top: 16px;
	/*height:20px;*/
	border:none;
}

.search-cancel
{
	padding-left: 10.667px;
	color: #00BFFF;
}