<ion-view view-title="报修单" id="fontSet">
  <ion-nav-buttons side = "right">
    <button class = "button button-clear icon ion-plus" ng-click = "newFormClicked()"></button>
  </ion-nav-buttons> 

  <div class="bar bar-subheader bar-light" id="subHeader">
    <div class="button-bar" id="subHeaderBar">
    <!-- TODO：
      需要后台协助对选择框的内容进行整改。。
      如：未接单的报修单不允许按照审核时间排序 -->

      <a class="button button-clear" id="subHeaderMenu" ng-click="menu1()" style="background-color: {{menu1Color}}">{{menu1Content}}<i class="ion-ios-arrow-down"></i></a>
      <a class="button button-clear" id="subHeaderMenu" ng-click="menu2()" style="background-color: {{menu2Color}}">{{menu2Content}}<i class="ion-ios-arrow-down"></i></a>

      <!-- TODO:　
        需要js协助对下面button进行点击之后的改变动作：
        降序 <-> 升序 -->
      <a class="button button-clear" id="subHeaderMenu" ng-click="menu3()">{{menu3Content}}<i class="{{menu3Icon}}"></i></a>
    </div>
  </div> 
  



 <!--  <ion-pane class="has-subheader"  ng-hide="menu1Var" ng-click="clickmenu()"> -->
  <!-- <script id="menu1.html" type="text/ng-template">
  <ion-popover-view> -->
    <ul class="list has-subheader" id="subHeaderMenuList" ng-hide="menu1Var">
      <li class="item" id="subHeaderMenuOption" ng-click="chooseAll()">
        <span id="subHeaderMenuContent">全部</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="chooseUnordered()">
        <span id="subHeaderMenuContent">未接单</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="chooseOrdered()">
        <span id="subHeaderMenuContent">已接单</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="chooseAccomplished()">
        <span id="subHeaderMenuContent">已完成</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="chooseChecked()">
        <span id="subHeaderMenuContent">已审核</span>
      </li>
    </ul>
    <!-- </ion-popover-view>
  </script> -->
<!--   </ion-pane> -->

    <ul class="list has-subheader" id="subHeaderMenuList" ng-hide="menu2Var">
      <li class="item" id="subHeaderMenuOption" ng-click="sortByCreateTime()">
        <span id="subHeaderMenuContent">按创建时间</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="sortByOrderTime()">
        <span id="subHeaderMenuContent">按接单时间</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="sortByAccomplishTime()">
        <span id="subHeaderMenuContent">按完成时间</span>
      </li>
      <li class="item" id="subHeaderMenuOption" ng-click="sortByCheckTime()">
        <span id="subHeaderMenuContent">按审核时间</span>
      </li>
    </ul>

<!-- <ion-pane>
      <ion-content ng-click="action()">
          <h2 ng-click="action()">$ionicBackdrop</h2>
      </ion-content>
  </ion-pane> -->



  <ion-content class="content has-subheader" style="margin-top: 17px; background-color: #EEEEEE">
  <!-- <ion-content class="content has-subheader" overflow-scroll="true"> -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <!-- <div class="item item-divider"></div> -->

      <ion-item class="item" ng-repeat="form in forms" type="item-text-wrap" id="listItem" href="#/app/viewForms/{{form.id}}">

      <!-- collection-repeat? -->
        <!-- <div id="formDivider"><br></div> -->
        <p id="formTitle" >
          报修单号：{{form.NO}}
        </p>
        <p style="margin-top: 10px;">
          状态：
          <span style="color: {{form.statusColor}}">
            {{form.status}}
          </span>
        </p>
        <div>
          <div id="formValueBackground">
            <span id="formValue">
              {{form.value}}
            </span>
          </div>
        </div>
        <hr size=1 id="divideLine">
        <p>
          客户姓名：
          <span id="blackFont">
            {{form.clientName}}
          </span>
        </p>
        <p>
          服务项目：
          <span id="blackFont">
            {{form.type}}
          </span>
        </p>
        <p>
          工程师：
          <span id="blackFont">
            {{form.engineerName}}
          </span>
        </p>
        <p>
          销售人员：
          <span id="blackFont">
            {{form.salesName}}
          </span>
        </p>
        <p>
          创建时间：
          <span id="blackFont">
            {{form.time}}
          </span>
        </p>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>