<ion-view view-title="新建表单" id="fontSet">
  <ion-nav-buttons side = "right">
    <button class = "button button-clear" ng-click = "cancelNewForm()">Cancel</button>
  </ion-nav-buttons>
  <ion-content>
    <div class = "list  has-header">
      
        <label class = "item item-input">
        <div class="input-label">客户姓名</div>
        <input type = "text" placeholder = "请填写客户的姓名">
      </label>

       <label class = "item item-input">
        <div class="input-label">客户电话</div>
        <input type = "text" placeholder = "请填写客户的电话">
      </label>

      <label class = "item item-input">
        <div class="input-label">客户地址</div>

        <input type = "text" placeholder = "请填写详细地址">
      </label>

      <label class = "item item-input">
        <div class="input-label">客户单位</div>
        <input type = "text" placeholder = "请填写工作地址">
      </label>
      
      <label class = "item item-input">
        <div class="input-label">销售人员</div>
        <input type = "text" placeholder = "请填写销售员的姓名">
      </label>
      
      <label class = "item item-input">
        <div class="input-label">工程师</div>
        <input type = "text" placeholder = "请填写工程师的姓名">
      </label>
      

    <!--   <div class="list">
 -->
        <label class="item item-input item-select">
          <div class="input-label">
            服务项目
          </div>
          <select>
            <option selected>服务一</option>
            <option>服务二</option>
            <option>服务三</option>
          </select>
        </label>

    <!--   </div> -->
      <!-- 
        <label class="item item-input item-select">
          <select>
            <option>Blue</option>
            <option>Green</option>
            <option>Red</option>
          </select>
        </label>
         -->

    <div>
        <li class="item item-divider"></li>
         <div class="padding">
              <button type="submit" class="button button-block button-balanced" ng-click = "saveNewForm()">保存提交</button>
          </div>
          
    </div>
</div>


</ion-content>
  </ion-view>
