<ion-view view-title="{{user.name}}">
  <ion-content class="has-header">
    <div class="list" style="margin-top: 16px; background-color: #EEEEEE;">

      <div class="item" style="margin-top: 13px;">
        <p style="font-size: 130%;">
          {{user.name}}
        </p>
      </div>
      
      <div class = "item item-button-right"> 

        <p style="font-size: 130%; margin-bottom: 12px;">
          {{user.phoneNum}}
        </p>

        <button class = "button button-clear" style="padding: 3px; padding-left: 10px;">
          <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{user.phoneNum}}"></i>
        </button>

      </div>

      <div ng-switch="myInformation.position">

        <div ng-switch-when="派单员">
          <div class="item" style="margin-top: 13px;" ng-click = "personalFormClicked()">
            报修单查看
          </div>

          <div class="item" style="margin-top: 13px;" href="#">
            分值统计查看
          </div>

        </div>

        <div ng-switch-when="管理员">


          <div class="item" style="margin-top: 13px;" href="#">
            报修单查看
          </div>

          <div class="item" style="margin-top: 13px;" href="#">
            分值统计查看
          </div>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
