<ion-view view-title="{{user.name}}">
  <ion-content class="has-header">
    <div class="list" style="background-color: #EEEEEE;">
    
      <div class="itemDivider"></div>
      <div class="item">
        <p style="height: 30px; font-size: 30px; margin-bottom: 5px;">
          {{user.name}}
        </p>
        <p style="color: #AAAAAA;"> {{user.position}} </p>
      </div>
      
      <div class = "item item-icon-right"> 

        <p style="font-size: 130%;">
        {{user.phoneNum}}
        </p>

          <a class = "icon ion-ios-telephone-outline" style=" padding: 3px; padding-left: 10px; color: #00BFFF" href = "tel:{{user.phoneNum}}"></a>

      </div>
      <div class="itemDivider"></div>
      <div ng-switch="myInformation.position">

        <div ng-switch-when="派单员">
        <div ng-switch = "user.position">
          <div ng-switch-when = "工程师">
          <div class="item" ng-click = "personalFormClicked()">
            报修单查看
          </div>
          <div class="itemDivider"></div>
          <div class="item" ng-click="markClicked()">
            分值统计查看
          </div>
          </div>
          <div ng-switch-when = "销售员">
           <div class="item" ng-click = "personalFormClicked()">
            报修单查看
          </div>
          <div class="itemDivider"></div>
          <div class="item" ng-click="markClicked()">
            分值统计查看
          </div>
          </div>
          </div>

        </div>


        <div ng-switch-when="管理员">
          <div ng-switch = "user.position">
          <div ng-switch-when = "工程师">
          <div class="item" ng-click = "personalFormClicked()">
            报修单查看
          </div>
          <div class="itemDivider"></div>
          <div class="item" ng-click="markClicked()">
            分值统计查看
          </div>
          </div>
          <div ng-switch-when = "销售员">
           <div class="item" ng-click = "personalFormClicked()">
            报修单查看
          </div>
          <div class="itemDivider"></div>
          <div class="item" ng-click="markClicked()">
            分值统计查看
          </div>
          </div>
          </div>
          
          <div class="itemDivider"></div>
          <div class = "padding">
            <button class = "button button-block button-lightblue" ng-click = "delete()">删除此用户</button>
          </div>



        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
