<!-- 
    针对派单员和管理员，可以查看到这个人（工程师or销售人员）的所有报修单
 -->
<ion-view view-title="查看个人报修单" id="fontSet" style="background-color: #EEEEEE; margin-top: 15px;">
  <div class="bar bar-subheader bar-light filter-subHeader">
    <div class="button-bar subHeaderBar">
      <!-- 副菜单栏： -->
      <a class="button button-clear subHeaderMenu" ng-click="menu1()" style="background-color: {{menu1Color}}">{{menu1Content}}<i class="ion-ios-arrow-down"></i></a>
      <a class="button button-clear subHeaderMenu" ng-click="menu2()" style="background-color: {{menu2Color}}">{{menu2Content}}<i class="ion-ios-arrow-down"></i></a>
      <a class="button button-clear subHeaderMenu" ng-click="menu3()">{{menu3Content}}<i class="{{menu3Icon}}"></i></a>
    </div>
  </div> 
  



 <!--  <ion-pane class="has-subheader"  ng-hide="menu1Var" ng-click="clickmenu()"> -->
  <!-- <script id="menu1.html" type="text/ng-template">
  <ion-popover-view> -->
    <ul class="list has-subheader subHeaderMenuList" ng-hide="menu1Var" style="margin-top: 30px;">
      <li class="item subHeaderMenuOption" ng-click="chooseAll()">
        <span class="subHeaderMenuContent">全部</span>
      </li>
      <li class="item subHeaderMenuOption" ng-click="chooseUnordered()">
        <span class="subHeaderMenuContent">未接单</span>
      </li>
      <li class="item subHeaderMenuOption" ng-click="chooseOrdered()">
        <span class="subHeaderMenuContent">已接单</span>
      </li>
      <li class="item subHeaderMenuOption" ng-click="chooseAccomplished()">
        <span class="subHeaderMenuContent">已完成</span>
      </li>
      <li class="item subHeaderMenuOption" ng-click="chooseChecked()">
        <span class="subHeaderMenuContent">已审核</span>
      </li>
    </ul>
    <!-- </ion-popover-view>
  </script> -->
<!--   </ion-pane> -->

    <ul class="list has-subheader subHeaderMenuList" ng-hide="menu2Var" style="margin-top: 30px;">
      <li class="item subHeaderMenuOption" ng-click="sortByCreateTime()">
        <span class="subHeaderMenuContent">按创建时间</span>
      </li>
      <li class="item subHeaderMenuOption" ng-hide="menu2Disabled2" ng-click="sortByOrderTime()">
        <span class="subHeaderMenuContent">按接单时间</span>
      </li>
      <li class="item subHeaderMenuOption" ng-hide="menu2Disabled3" ng-click="sortByAccomplishTime()">
        <span class="subHeaderMenuContent">按完成时间</span>
      </li>
      <li class="item subHeaderMenuOption" ng-hide="menu2Disabled4" ng-click="sortByCheckTime()">
        <span class="subHeaderMenuContent">按审核时间</span>
      </li>
    </ul>


  <ion-content class="content has-subheader" style="background-color: #EEEEEE">
  <!-- <ion-content class="content has-subheader" overflow-scroll="true"> -->
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
    <div id="personalFormsHeader"></div>
      <ion-item class="item" ng-repeat="personalform in personalforms | orderBy:order | filter: searchFilter" type="item-text-wrap" id="listItem" ng-click="itemClicked(personalform.id)">
        <p id="formTitle" >
          报修单号：{{personalform.id}}
        </p>
        <p style="margin-top: 10px;">
          状态：
          <span style="color: {{personalform.statusColor}}">
            {{personalform.status}}
          </span>
        </p>
        <div>
          <div id="formValueBackground">
            <span id="formValue">
              {{personalform.value}}
            </span>
          </div>
        </div>
        <hr size=1 id="divideLine">
        <p>
          客户姓名：
          <span id="blackFont">
            {{personalform.clientName}}
          </span>
        </p>
        <p>
          服务项目：
          <span id="blackFont">
            {{personalform.type}}
          </span>
        </p>
        <p>
          工程师：
          <span id="blackFont">
            {{personalform.engineerName}}
          </span>
        </p>
        <p>
          销售人员：
          <span id="blackFont">
            {{personalform.salesName}}
          </span>
        </p>
        <p>
          {{timeLabel}}
          <span id="blackFont">
            {{personalform.creatTime}}
          </span>
        </p>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>