<ion-view view-title="消息通知" id="fontSet">
  <ion-content class="scroll-content has-header stable-bg light">
    <div class="list">
      <li class="item item-divider"></li>
      <ion-item class="item item-icon-right" ng-repeat="message_info in message_infos" type="item-text-wrap" 
       hraf="#/app/message/{{message_info.id}}">
				<img ng-src="{{message_info.img}}">
				<h2>{{message_info.title}}</h2>
				<p>{{message_info.full_information}}</p>
		<i class="icon ion-chevron-right icon-accessory"></i>
		</ion-item>
	</div>
  </ion-content>
</ion-view>