<ion-view view-title="我" id="fontSet">
  <ion-content class="scroll-content has-header stable-bg light" >
   <div class="list">
   <div class="itemDivider"></div>
      <ion-item class="item" type="item-text-wrap" >
			<h2>{{myinformation.name}}</h2>
			<p>{{myinformation.position}}</p>
		</ion-item>
   	<div class="itemDivider"></div>
   	 <!--<ion-item class="item"  type="item-text-wrap" on-hold="editphonenum()">  -->
      <ion-item class="item"  type="item-text-wrap" on-hold="editphonenum()"> 
   		<h2>{{myinformation.phoneNum}}</h2>
   	</ion-item>
   	<div class="itemDivider"></div>
   	<ion-item class="item item-icon-right"  type="item-text-wrap" ng-click="markClicked()"> 
      <h2>分值统计</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
   	

    <div class="itemDivider"></div>
    <ion-item class = "item item-icon-right" type = "item-text-wrap" href ="#/password-modify">
      <h2>修改密码</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>

    <div class="itemDivider"></div>
    <ion-item class = "item item-icon-right" type = "item-text-wrap" ng-click ="exit()">
      <h2>退出登录</h2>
  <!--     <i class="icon ion-chevron-right icon-accessory"></i> -->
    </ion-item>

  </div>
 </ion-content>
</ion-view>