<ion-view view-title="我" id="fontSet">
  <ion-content class="scroll-content has-header stable-bg light" >
   <div class="list">
   <li class="item item-divider"></li>
      <ion-item class="item-avatar" type="item-text-wrap" >
			<img ng-src="{{myinformation.img}}" on-hold="editphoto()">
			<h2>{{myinformation.name}}</h2>
			<p>{{myinformation.position}}</p>
		</ion-item>
   	<li class="item item-divider"></li>
   	 <ion-item class="item"  type="item-text-wrap" on-hold="editphonenum()"> 
   		<h2>{{myinformation.phonenum}}</h2>
   	</ion-item>
   	<li class="item item-divider"></li>
   	<ion-item class="item item-icon-right"  type="item-text-wrap" href="#/app/my/mark" > 
      <h2>分值统计</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
   	

    <li class="item item-divider"></li>
    <ion-item class = "item item-icon-right" type = "item-text-wrap" href ="#/login">
      <h2>退出登录</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </div>
 </ion-content>
</ion-view>