  <ion-view view-title="公司黄页">
    <!-- <div class="bar bar-header" align-title="center" style="background-color:transparent;border: none;">
        <h1 class="title positive-bg dark">生活黄页</h1>
     </div> -->
      <div class="bar bar-subheader bar-stable item-input-inset search-bar">
        <label class="item-input-wrapper" style="border:none">
          <i class="ion-search dark"></i>
          <input type="text" placeholder="搜索" ng-model="searchcontent" ng-click="searchClick()">
        </label>
        <button class="button-clear search-cancel" ng-hide="hideCancel" ng-click="searchCancel()">取消</button> 
      </div>
     
      <ion-content class="has-subheader" id="headerdistance">
       <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
       </ion-refresher>
        <!--  <li class="item item-divider"></li>
          <div class="list" style="border:none">
   
   if we have searched some thing 
          <span ng-if="searchornot">
                 <ion-item  id="navigator" type="item-text-wrap">
                   <div style="line-height:6px;">{{phones.group}}</div>
                 </ion-item>
                 <ion-item class="item item-icon-right" ng-repeat="person in phones.persons" type="item-text-wrap" href="#/app/contacts/{{person.id}}" > 
                   <h2> {{person.name}}</h2>
                   <i class="icon ion-chevron-right icon-accessory"></i>
                 </ion-item>
          </span>
           
            if we don't
          <span ng-if="!searchornot">
           <div class="list" ng-repeat="phone in phones">
                 <ion-item  id="navigator" type="item-text-wrap">
                   <div style="line-height:6px;">{{phone.group}}</div>
                 </ion-item>
                 <ion-item class="item item-icon-right" ng-repeat="person in phone.persons" type="item-text-wrap" href="#/app/contacts/{{person.id}}" > 
                   <h2> {{person.name}}</h2>
                   <i class="icon ion-chevron-right icon-accessory"></i>
                 </ion-item>
           </div>
          </span>
           </div> -->
          <div data-ng-repeat="(letter, users) in sorted_users" class="alpha_list" ng-show="hideCancel">
            <!-- <div ng-show="{{users[0]}}" id="index_{{letter}}"> -->
            <div id="index_{{letter}}">
              <ion-item class="item item-divider" ng-show="{{users[0]}}"  style="border-width: 0; height: 12px; padding-top: 6px; padding-bottom: 6px; color: #989898;">
                  {{letter}}
              </ion-item>
              <ion-item ng-show="{{users[0]}}" ng-repeat="user in users | orderBy: 'name'"  style="border-width: 0; border-top-width: 1px; border-bottom-width: 1px; border-color: #f5f5f5;" href="#/app/contacts/{{user.id}}">
                  {{user.name}}
              </ion-item>
            </div>
          </div>

          <div data-ng-repeat="(letter, users) in sorted_users" class="alpha_list" ng-hide="hideCancel">
            <!-- <div ng-show="{{users[0]}}" id="index_{{letter}}"> -->
            <div id="index_{{letter}}">
              <ion-item ng-show="{{users[0]}}" ng-repeat="user in users | orderBy: 'name' | filter: searchFilter"  style="border-width: 0; border-top-width: 1px; border-bottom-width: 1px; border-color: #f5f5f5;" href="#/app/contacts/{{user.id}}">
                  {{user.name}}
              </ion-item>
            </div>
          </div>

          
      </ion-content>
      <ul class="alpha_sidebar" ng-show="hideCancel">
            <li ng-click="gotoList('index_{{letter}}')" ng-repeat="letter in alphabet"> 
                {{letter}}
            </li>
          </ul>
  </ion-view>