<ion-view title = "详情">
<!-- <ion-nav-buttons side = "left">
    <a href="#/app/viewForms/viewForms-editForm"><button class = "button button-clear " ng-click = "editClick()">编辑</button> </a>
  </ion-nav-buttons>  -->
<ion-content>
 <p style = "padding: 16px; margin: 0px;">申请找回密码的用户详情:</p>
 <div  class="item">
	<p style = "padding">用户id:  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <span id="blackFont">{{user.id}}</span></p>
	<p>用户类型: &nbsp;&nbsp;&nbsp;  <span id="blackFont"> {{user.position}}</span></p>
	<p>用户号码: &nbsp;&nbsp;<a href="tel:{{user.phoneNum}}"> {{user.phoneNum}}</a> </p>
 </div>

</ion-content>
</ion-view>