<ion-view view-title="分值改动详情" >
  
  <ion-content>
  <!--   <ion-infinite-scroll on-infinite = "loadMore()" distance = "1%">

    <ion-infinite-scroll> -->
    <div class="list" style="margin-top: 16px; background-color: #EEEEEE;">

    <p style = "margin-top:20px">分值改动的保修单详情：</p>

      <div class="item" style="margin-top: 13px;">
        <p style="font-size: 130%; margin-bottom: 12px;">报修单号：{{form.NO}}</p>
        <p style="color: #AAAAAA;">状态： {{form.status}}</p>
        <p style="color: #AAAAAA;">分值： {{form.value}}</p>
      </div>

      <div class="item" style="margin-top: 13px;" href="#">
        <p>客户姓名： <span id="blackFont">{{form.clientName}}</span></p>
        <p>客户电话： {{form.clientphone}}</p>
        <p>客户单位： {{form.clientunit}}</p>
        <p>客户地址： {{form.clientaddr}}</p>
      </div>

      <div class="item" href="#" style="margin-top: 13px;">
       <p> 服务项目： {{form.service}}</p>
      </div>

      <div class = "item item-icon-right" style="margin-top: 13px;"> 
      <p>  工程师： {{form.engineerName}}</p>
      <p> 销售人员： {{form.salesName}}</p>
      <p>派单员： {{form.distributerName}}</p>
      </div>
     
      <div class="item" href="#" style="margin-top: 13px;">
        <p>出库单号： {{form.stocknumber}}</p>
    
        <p>创建时间： {{form.time}}</p>
        <p>接单时间： {{form.accepttime}}</p>
        <p>完成时间： {{form.finishtime}}</p>
        <p>审核时间： {{form.checktime}}</p>
      </div>

    </div>
  </ion-content>
</ion-view>