<html>
  
<ion-view>
  
 	<ion-header-bar align="center" style="background-color:#00BFFF;border: none;">
 	 <div class="buttons">
        <button class="button button-icon icon ion-chevron-left button-dark"
          ng-click = "goback()"></button>

          <!-- button icon-left ion-chevron-left button-clear button-dark -->
      </div>
            <h1 class="title light" style="font-size: 20px;" button = "">修改密码</h1>
      </ion-header-bar>
      <ion-content>
      <div>

        <div class="item-input">
        
          <input id = "old-password" type="password" placeholder="请输入原密码">
        </div>

        <div class="item-input">
          <input id = "new-password1" type="password" placeholder="请输入新密码">
        </div>

        <div class="item-input">
          <input id = "new-password2" type="password" placeholder="请确认新密码">
        </div>


	     <!-- 
      <div class="button-bar padding-left padding-right"> -->
        <button class="button button-block button-lightblue" ng-click = "ensure()">确认修改</button>

      </div>     
      </ion-content>
   
</ion-view>

</html>