<ion-view view-title="新建表单" id="fontSet">
  <ion-nav-buttons side = "right">
    <button class = "button button-clear" ng-click = "cancelNewForm()" >清除</button>
  </ion-nav-buttons>
  <ion-content>
    <div class = "list  list-inset">
      
        <label class = "item item-input">
        <div class="input-label">客户姓名</div>
        <input id = "clientName" type = "text" placeholder = "请填写客户的姓名">
      </label>

       <label class = "item item-input">
        <div class="input-label">客户电话</div>
        <input id = "clientPhone" type = "text" placeholder = "请填写客户的电话">
      </label>

      <label class = "item item-input">
        <div class="input-label">客户地址</div>
        <input id = "clientAddr" type = "text" placeholder = "请填写详细地址">
      </label>

      <label class = "item item-input">
        <div class="input-label">客户单位</div>
        <input id="clientUnit" type = "text" placeholder = "请填写工作地址">
      </label>
      
      <label class = "item item-input" >
        <div class="input-label">销售人员</div>
        <select id="salesName">
            <option selected>请选择销售人员</option>
            <option ng-repeat = "user in users | filter:{position:'销售员'}">{{user.name}}</option>
          </select>
      </label>
      
      <label class = "item item-input" >
        <div class="input-label">工程师</div>
        <select id="engineerName" >
            <option selected>请选择工程师</option>
            <option ng-repeat = "user in users | filter:{position:'工程师'}">{{user.name}}</option>
        </select>
      </label>
      

        <label class="item item-input">
          <div class="input-label">
            服务项目
          </div>
          <select id="serviceName">
            <option selected>请选择服务</option>
            <option>上门服务</option>
            <option>送货服务</option>
            <option>安装调试</option>
          </select>
        </label>

         <div class="padding">
              <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "saveNewForm()">保存提交</button>
          </div>

          
    </div>
</div>

<script>
</script>

</ion-content>
  </ion-view>
