<ion-view view-title="编辑报修单">
  <ion-content>

   <div class="list" style="margin-top: 16px; background-color: #EEEEEE;">

      <div class="item" style="margin-top: 13px;">
        <p style="font-size: 130%; margin-bottom: 12px;">报修单号：{{form.NO}}</p>
        <p style="color: #AAAAAA;">状态： {{form.status}}</p>       
      </div>

      <div ng-switch = "myinformation.position">
      	<div ng-switch-when = '派单员'>

          <div class="item item-input" style="margin-top: 13px;"  href="#">
            <span class="input-label">分值</span>
            <input id="mark" type = "text" placeholder = "{{form.value}}">
          </div>

          <div ng-switch = "form.status">
            <div ng-switch-when = '未接' >

              <div class="item item-input" style="margin-top: 13px;"  href="#">
                <span  class="input-label">客户姓名</span>
                <input id="clientName" type = "text" placeholder = "{{form.clientName}}">
              </div>
      
              <div class = "item item-input item-button-right"> 
                <span class="input-label">客户电话</span>
                <input id="clientPhone" type = "text" placeholder = "{{form.clientphone}}">
                <button class = "button button-clear" style="padding: 3px; padding-left: 10px;">
                <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{form.clientphone}}"></i>
                </button>
              </div>

              <div class="item item-input" href="#">
                <span class="input-label">客户单位</span>
                <input id="clientUnit" type = "text" placeholder = "{{form.clientunit}}">
              </div>

              <div class="item item-input" href="#">
                <span class="input-label">客户地址</span>
                <input id="clientAddr" type = "text" placeholder = "{{form.clientaddr}}">
              </div>

              <div ng-switch = "form.type">
              <div ng-switch-when="上门服务">
              <div class="item item-input" href="#" style="margin-top: 13px;">
                <span class="input-label">服务项目</span>
                <select id="service" >
                  <option selected>上门服务</option>
                  <option>送货服务</option>
                  <option>安装调试</option>
                </select>
              </div>
              </div>
              <div ng-switch-when="送货服务">
              <div class="item item-input" href="#" style="margin-top: 13px;">
                <span class="input-label">服务项目</span>
                <select id="service" >
                  <option>上门服务</option>
                  <option selected>送货服务</option>
                  <option>安装调试</option>
                </select>
              </div>
              </div>
              <div ng-switch-when="安装调试">
              <div class="item item-input" href="#" style="margin-top: 13px;">
                <span class="input-label">服务项目</span>
                <select id="service" >
                  <option >上门服务</option>
                  <option>送货服务</option>
                  <option selected>安装调试</option>
                </select>
              </div>
              </div>
              <div ng-switch-default>
              <div class="item item-input" href="#" style="margin-top: 13px;">
                <span class="input-label">服务项目</span>
                <select id="service" >
                  <option >上门服务</option>
                  <option>送货服务</option>
                  <option>安装调试</option>
                </select>
              </div>
              </div>

              <div class="item item-input item-icon-right" ng-click="">
                <span class="input-label">工程师</span>
                <select id="engineer">
                <option selected> {{form.engineerName}} </option>
                   <option class = "item" ng-repeat = "user in users | filter:engineerFilter">{{user.name}}</option>
                </select>
                <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i>
              </div>

              <div class="item item-input item-icon-right" ng-click="">
                <span class="input-label">销售人员</span>
                <select id="salesman">
                <option selected>{{form.salesName}}</option>
                   <option ng-repeat = "user in users | filter:salesmanFilter">{{user.name}}</option>
                </select>
                <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i>
              </div>

              <div class="item item-input item-icon-right" ng-click="">
                <span class="input-label">派单员</span>
                <input id="distributor" type = "text" placeholder = "{{form.distributerName}}">
              </div>

              <div class="item item-input item-button-right" ng-click="">
                <span class="input-label">派单员电话</span>
                <input id="distributorPhone" type = "text" placeholder = "{{form.distributerphone}}">
                <button class = "button button-clear" style="padding: 3px; padding-left: 10px;">
                <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{form.distributerphone}}"></i>
                </button>
              </div>

              <div class="item item-input" href="#" style="margin-top: 13px;">
                <span class="input-label">出库单号</span>
                <input type = "text" placeholder="{{form.stockName}}">
              </div>
            </div>
          <div class="item" href="#">
            创建时间： {{form.time}}
          </div>

          <div class="item" href="#">
            接单时间： {{form.accepttime}}
          </div>

          <div class="item" href="#">
            完成时间： {{form.finishtime}}
          </div>

          <div class="item" href="#">
          审核时间： {{form.checktime}}
            </div>
          </div>

          <div ng-switch-default>

            <div class="item" style="margin-top: 13px;" href="#">
              客户姓名： {{form.clientName}}
            </div>
      
            <div class = "item item-button-right"> 
              客户电话： {{form.clientphone}}
              <button class = "button button-clear" style="padding: 3px; padding-left: 10px;">
                <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{form.clientphone}}"></i>
              </button>
            </div>

            <div class="item" href="#">
              客户单位： {{form.clientunit}}
            </div>

            <div class="item" href="#">
              客户地址： {{form.clientaddr}}
            </div>

            <div class="item" href="#" style="margin-top: 13px;">
              服务项目： {{form.service}}
            </div>

            <div class = "item item-icon-right" ng-click="" style="margin-top: 13px;"> 
              工程师： {{form.engineerName}}
              <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i>
            </div>

            <div class="item item-icon-right" ng-click="">
              销售人员： {{form.salesName}}
            <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i>
            </div>

            <div class="item item-icon-right" ng-click="">
              派单员： {{form.distributerName}}
            </div>

            <div class="item item-button-right" ng-click="">
              派单员电话： {{form.distributerphone}}
              <button class = "button button-clear" style="padding: 3px; padding-left: 10px;">
                <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{form.distributerphone}}"></i>
              </button>
            </div>

            <div class="item" href="#" style="margin-top: 13px;">
              出库单号： {{form.stocknumber}}
            </div>

          <div class="item" href="#">
            创建时间： {{form.time}}
          </div>

          <div class="item" href="#">
            接单时间： {{form.accepttime}}
          </div>

          <div class="item" href="#">
            完成时间： {{form.finishtime}}
          </div>

          <div class="item" href="#">
          审核时间： {{form.checktime}}
          </div>
        </div>
      </div>
    </div>
</div>

  <div ng-switch="myinformation.position">
    <div ng-switch-when = "派单员">
      <div class="padding">
        <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "editComplete()">编辑完成</button>
      </div>
    </div>
  </div>



</div>
 </ion-content>
 </ion-view>