<ion-view view-title="编辑报修单">
  <ion-nav-buttons side = "right">
    <button class = "button button-clear" ng-click="">删除</button>
  </ion-nav-buttons> 
  <ion-content>

   <div class="list" style="margin-top: 16px; background-color: #EEEEEE;">

      <div class="item" style="margin-top: 13px;">
        <p style="font-size: 130%; margin-bottom: 12px;">报修单号：{{form.NO}}</p>
        <p style="color: #AAAAAA;">状态： {{form.status}}</p>

      </div>

      <div ng-switch = {{position}}>
      	
      </div>
</div>
 </ion-content>
 </ion-view>