<ion-view view-title="报修单详情">
  <ion-content>

<div class="list" style="background-color: #EEEEEE;">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
<!-- <div class="item item-avatar">
            <img src="http://ionicframework.com/img/docs/mcfly.jpg">
            <h2>Marty McFly</h2>
            <p>November 05, 1955</p>
          </div>
 -->

      <div class="itemDivider"></div>
      <div class="item">
        <p style="font-size: 130%; margin-bottom: 12px;">报修单号：{{form.id}}</p>
        <p style="color: #999999;">状态： {{form.status}}</p>
        <p style="color: #999999;">分值： {{form.value}}</p>
<!-- 
          <span class="item-note">
            {{state}}
          </span> -->
      </div>

      <div class="itemDivider"></div>
      <div class="item">
        客户姓名： {{form.clientName}}
      </div>
      
      <div class = "item item-icon-right"> 
        客户电话： {{form.clientphone}}

          <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{form.clientphone}}"></i>
     
      </div>

      <div class="item" >
        客户单位： {{form.clientunit}}
      </div>
      <div class="item">
        客户地址： {{form.clientaddr}}
      </div>

      <div class="itemDivider"></div>
      <div class="item" >
        服务项目： {{form.type}}
      </div>

      <div class="itemDivider"></div>
      <div class = "item item-icon-right" ng-click="engineerDetail()"> 
        工程师： {{form.engineerName}}
        <div ng-switch="userPosition">
          <div ng-switch-when = "派单员">
            <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i> 
            <!--<i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD" href = "#/app/contacts/{{engineer.id}}"></i> -->
          </div>
          <div ng-switch-when = "管理员">
            <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i> 
            <!--<i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD" href = "#/app/contacts/{{engineer.id}}"></i> -->
          </div>
        </div>
      </div>

      <div class="item item-icon-right" ng-click="salesmanDetail()">
        销售人员： {{form.salesName}}
        <div ng-switch="userPosition">
          <div ng-switch-when = "派单员">
            <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i> 
            <!--<i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD" href = "#/app/contacts/{{salesman.id}}"></i> -->
          </div>
          <div ng-switch-when = "管理员">
            <i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD"></i> 
            <!--<i class = "icon ion-ios-arrow-right" style="padding: 3px; padding-left: 10px; color: #DDDDDD" href = "#/app/contacts/{{salesman.id}}"></i> -->
          </div>
        </div>
      </div>
      <div class="item item-icon-right" >
        派单员： {{form.distributerName}}
      </div>
     <!-- <div class="item item-icon-right" >
        派单员电话： {{form.distributerphone}}
          <i class = "icon ion-ios-telephone-outline" style="color: #00BFFF" href="tel:{{form.distributerphone}}"></i>
      </div> -->

      <div class="itemDivider"></div>
      

      <div class="item" >
        创建时间： {{form.creatTime.toLocaleString()}}
      </div>

<div ng-switch = "{{form.orderTakeTime.getTime()}}"> 
     <div ng-switch-when = "0">
         <div class="item" >
         接单时间：
        </div>
     </div>
      
      <div ng-switch-default>
      <div class="item" >
        接单时间： {{form.orderTakeTime.toLocaleString()}}
      </div>
    </div>
  </div>
      
<div ng-switch = "{{form.doortime.getTime()}}">
  <div ng-switch-when = "0">
    <div class = "item">
      上门时间：
    </div>
  </div>
    <div ng-switch-default>

      <div class = "item">
        上门时间: {{form.doortime.toLocaleString()}}
      </div>
    </div>
  </div>


<div ng-switch = "{{form.finishTime.getTime()}}">
  <div ng-switch-when = "0">
    <div class = "item">
      完成时间
    </div>
  </div>

    <div ng-switch-default>
      <div class="item">
        完成时间： {{form.finishTime.toLocaleString()}}
      </div>
    </div>
  </div>


  <div ng-switch = "{{form.auditTime.getTime()}}">
  <div ng-switch-when = "0">
    <div class = "item">
      审核时间
    </div>
  </div>

    <div ng-switch-default>
      <div class="item">
        审核时间： {{form.auditTime.toLocaleString()}}
      </div>
    </div>
  </div>


<!-- <div ng-switch = "{{form.auditTime.getTime()}}">
    <div ng-switch-when = "0">
      <div class = "item">
        审核时间:{{form.auditTime.getTime()}}
      </div>
    </div>


   <div ng-switch-defalut>
      <div class="item" >
        审核时间： {{form.auditTime.toLocaleString()}}{{form.auditTime.getTime()}}
      </div>
    </div>

 </div> -->


<div ng-switch="userPosition">
      <div ng-switch-when = "派单员">
      <div class="padding">
      <a href="#/app/viewForms/viewForms-editForm"> 
        <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF"      ng-click = "editClick()">编辑</button>
        </a>
      </div>
      <div class="padding">
        <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "deleteForm()">删除</button>
      </div>
      </div>
    <div ng-switch-when = "管理员">
      <div class="padding">
        <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "deleteForm()">删除</button>
      </div>
    </div>
    <div ng-switch-when = "销售员">
      <div ng-switch = "form.status">
        <div ng-switch-when = "已完成">
          <div class="padding">
            <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "reviewForm()">审核</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-switch-when = "工程师">
      <div ng-switch = "form.status">
        <div ng-switch-when = "已接单">
          <div class="padding">
            <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "cancelOrderTaking()">取消接单</button>
          </div>
          <div class="padding">
            <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "submitComplete()">提交反馈</button>
          </div>
        </div>
        <div ng-switch-when = "未接">
          <div class="padding item-input">
          <div class="input-label">请选择上门时间:</div>
            <select id="year">
              <option selected>请选择年份</option>
              <option ng-repeat = "yearNum in yearNums">{{yearNum}}</option>
              </select>
              <select id="month">
              <option selected>请选择月份</option>
              <option ng-repeat = "monthName in monthNames">{{monthName}}</option>
              </select>
              <select id="day">
              <option selected>请选择日期</option>
              <option ng-repeat = "dayNum in dayNums">{{dayNum}}</option>
              </select>
              <select id="hour">
              <option selected>请选择具体小时</option>.
              <option ng-repeat="hourNum in hourNums">{{hourNum}}</option>
              </select>
              <select id="minute">
              <option selected>请选择具体分钟</option>
              <option ng-repeat="minuteNum in minuteNums">{{minuteNum}}</option>
              </select>
            </div>
            <div class="padding">
            <button id="fontSet" type="submit" class="button button-block stable"  style = "background-color:#00BFFF;border-color:#00BFFF" ng-click = "takeForm()">接单</button > 
          </div>
      </div>
    </div>
    </div>
</div>

  </ion-content>
</ion-view>